<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<div class="siteTree">
<h1>
  <b>WELCOME ALL</b>
</h1>
<br>
<h2>
<b>API TREE:</b>
</h2>
<ul>
<li>

			<div class="Home"><b>/</b>
        <div class="method" style="width: 172px">
            <ul>
            <li>
              <div class="get">GET</div>
            </li>
            </ul>
            <h5>Home page</h5>
      </div>
     </div>
</li>
<br>
<li>
     <div class="SimpleHttp">/simpleApi
        <div class="method" style="width: 172px">
            <ul>
            <li>
              <div class="get">GET</div>
            </li>
            <li>
              <div class="post">POST</div>
            </li>
            </ul>
            <h5>simple api with no protection</h5>
      </div>
     </div>
</li>
<br>
<li>
     <div class="JWTHttp">/JWTApi
        <div class="method" style="width: 172px">
            <ul>
            <li>
              <div class="get">GET</div>
            </li>
            <li>
              <div class="post">POST</div>
            </li>
            </ul>
          <h5>API protected with jtoken</h5>
      </div>
     </div>
</li>
</ul>
</div>
</body>
</html>